@import "./variables";
@import "./mixins.breakpoints";

.title {
	text-align: center;
	background-color: $darkGray;
	color: $white;
}

.matchContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 20px;

	@include devices(tablet) {
	}
	@include devices(desktop) {
		margin-top: 70px;
		gap: 40px;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

.sectionForm {
	width: 100%;
	min-height: calc(100vh - 240px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.home {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: $primary-gradient;
	animation: exitAnimation 2s ease;
	animation-delay: 2s;
	display: grid;
	place-content: center;

	img {
		width: 100%;
		height: auto;
		padding: 50px;
	}
}

@keyframes exitAnimation {
	25% {
		transform: scale(0.5);
	}
	50% {
		transform: scale(0.5);
		transform: translateX(-100%);
	}
	75% {
		transform: scale(0.5);
		transform: translateX(-200%);
	}
	100% {
		transform: scale(0.5);
	}
}
